# Python
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
env/
.env

# Flask
instance/
.flaskenv
"*.pyc" 
"*.pyo" 
"__pycache__/" 
"venv/" 
"env/" 
".env" 
"instance/" 
".flaskenv" 
