{% extends 'base.html' %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% block content %}
<div class="chat-container" style="height: 100vh; display: flex; flex-direction: column; text-align: left;">
  <div class="card" style="flex-grow: 1; overflow-y: auto;">
    <div class="card-header bg-primary text-white" style="text-align: center; font-family: 'Lucida Console', monospace;">Manikanta's AI Chatbot</div>
    <div class="card-body messages-box">
      <ul class="list-unstyled messages-list">
        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Hi, I am your AI Chatbot, you can ask me anything.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <form class="message-form" method="POST" style="position: fixed; bottom: 0; left: 0; right: 0; background-color: white; padding: 10px;">
    <div class="input-group">
      <input type="text" class="form-control message-input" placeholder="Type your message here..." />
      <div class="input-group-append">
        <button type="submit" class="btn btn-success btn-send">Send</button>
      </div>
    </div>
  </form>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
